@{
    ViewData["Title"] = "Index";
}

<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createModalLabel">Añadir Lugar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createLugarForm">
                    <input id="lugarID" value="0" hidden>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Encabezado -->
<div class="d-flex align-items-center">
    <h1 class="me-auto">Lugares</h1>

    <button type="button" class="btn btn-danger" onclick="AbrirModal()">
        Añadir Lugar
    </button>
</div>

<!-- Tabla -->
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody-lugares">
    </tbody>
</table>

@section Scripts {
    <script src="~/js/lugares.js"></script>
}