@{
    ViewData["Title"] = "Ejercicios";
}

<head>
    <link rel="stylesheet" href="~/css/informe.css" />

</head>

<body>
    <!-- Encabezado -->
    <div class="d-flex align-items-center encabezado">
        <h2 class="me-auto">Informe</h2>
        <button type="button" class="btn btn-custom1 btn-create" onclick="Imprimir()">
            <svg width="24" height="24" viewBox="0 0 31 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0 4C0 1.79375 1.79375 0 4 0H14V8C14 9.10625 14.8938 10 16 10H24V19H11C8.79375 19 7 20.7938 7 23V32H4C1.79375 32 0 30.2062 0 28V4ZM24 8H16V0L24 8ZM11 22H13C14.9312 22 16.5 23.5688 16.5 25.5C16.5 27.4312 14.9312 29 13 29H12V31C12 31.55 11.55 32 11 32C10.45 32 10 31.55 10 31V23C10 22.45 10.45 22 11 22ZM13 27C13.8313 27 14.5 26.3312 14.5 25.5C14.5 24.6688 13.8313 24 13 24H12V27H13ZM19 22H21C22.6562 22 24 23.3438 24 25V29C24 30.6562 22.6562 32 21 32H19C18.45 32 18 31.55 18 31V23C18 22.45 18.45 22 19 22ZM21 30C21.55 30 22 29.55 22 29V25C22 24.45 21.55 24 21 24H20V30H21ZM26 23C26 22.45 26.45 22 27 22H30C30.55 22 31 22.45 31 23C31 23.55 30.55 24 30 24H28V26H30C30.55 26 31 26.45 31 27C31 27.55 30.55 28 30 28H28V31C28 31.55 27.55 32 27 32C26.45 32 26 31.55 26 31V23Z"
                    fill="white" />
            </svg>

        </button>
    </div>

    <div class="d-flex">
        <div class=" row subEncabezado">
            <div class="col-12 col-sm-6">
                <div class="input-group">
                    <span class="input-group-text">Desde</span>
                    <input type="datetime-local" id="dateTime_Desde"
                    class="form-control" />
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="input-group">
                    <span class="input-group-text">Hasta</span>
                    <input type="datetime-local" id="dateTime_Hasta"
                        class="form-control" />
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="input-group">
                    <span class="input-group-text">Agrupar</span>
                    <select name="primaryFilter" id="primaryFilter" class="form-control w-auto">
                        <option value=""> --- </option>
                        <option value="tipoEjercicio">Tipo de Ejercicio</option>
                        <option value="evento">Evento</option>
                        <option value="lugar">Lugar</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="input-group">
                    <span class="input-group-text">SubAgrupar</span>
                    <select name="secondaryFilter" id="secondaryFilter" class="form-control w-auto">
                        <option value=""> --- </option>
                        <option value="tipoEjercicio">Tipo de Ejercicio</option>
                        <option value="evento">Evento</option>
                        <option value="lugar">Lugar</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    @* <div class="informe mt-2"> *@
        <table id="informeTable" class="table table-striped table-custom table-custom-scroll">
            <thead>
                <tr id="trTable">
                    <th>Tipo de Ejercicio</th>
                    <th>Día</th>
                    <th>Intervalo</th>
                    <th>Duracion</th>
                    <th>Calorias Quemadas</th>
                </tr>
            </thead>
            <tbody id="tbody-informe">
                @* <tr>
                    <td rowspan="3" ><span>Correr</span></td>
                    <td rowspan="2" >17/12/24</td>
                    <td>10AM - 11AM</td>
                    <td>60 min</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>1PM - 3PM</td>
                    <td>120 min</td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td>18/12/24</td>
                    <td>1PM - 3PM</td>
                    <td>120 min</td>
                    <td>2000</td>
                </tr> *@
            </tbody>
        </table>
    @* </div> *@


</body>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.8.4/jspdf.plugin.autotable.min.js"></script>
    <script src="~/js/informe.js"></script>
}
