@page
@model ForgotPasswordConfirmation

<head>
    <link rel="stylesheet" href="~/css/formUser.css" asp-append-version="true" />
</head>


<div class="row mx-auto col-10 col-sm-8 col-md-7 col-lg-6 login-content">
    <div class="col-12 p-0">
        <div class="title-header px-4">
            <h3>Solicitud Enviada!</h3>
        </div>
        <div class="py-2 px-4">
            Revisa tu correo electrónico para actualizar tu contraseña.
        </div>
    </div>
</div>
