@page
@model RegisterModel

<head>
    <link rel="stylesheet" href="~/css/formUser.css" asp-append-version="true" />
</head>

@* @{
    ViewData["Title"] = "Register";
} *@

<div class="row mx-auto col-10 col-sm-9 col-md-8 col-lg-7 login-content">
    <div class="col-12 px-0">
        <div class="title-header px-4">
            <h3>Registrate</h3>
        </div>
        <div class="py-3 px-4">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="row d-flex">
                    <div class="col-6 row p-0 m-0">
                        <div class="col-12 form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username"
                                aria-required="true" placeholder="name@example.com" />
                            <label class="mx-2" asp-for="Input.Email">Correo Electrónico</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="col-12 form-floating mb-3">
                            <input id="NombreCompleto" name="NombreCompleto" class="form-control" aria-required="true"
                                placeholder="70" />
                            <label class="mx-2" for="NombreCompleto">Nombre Completo</label>
                        </div>
                    </div>
                    <div class="col-6 row p-0 m-0">
                    <div class="col-12 form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password"
                            aria-required="true" placeholder="contraseña" />
                        <label class="mx-2" asp-for="Input.Password">Contraseña</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="col-12 form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password"
                            aria-required="true" placeholder="contraseña" />
                        <label class="mx-2" asp-for="Input.ConfirmPassword">Confirmar Contraseña</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    </div>
                    <div class="col-6 form-floating mb-3">
                        <input type="date" id="FechaNacimiento" name="FechaNacimiento" class="form-control"
                            aria-required="true" placeholder="70" />
                        <label class="mx-2" for="FechaNacimiento">Fecha de Nacimiento</label>
                    </div>
                    <div class="col-6 form-floating mb-3">
                        <input id="Peso" name="Peso" class="form-control" aria-required="true" placeholder="70" />
                        <label class="mx-2" for="Peso">Peso (Kg)</label>
                    </div>
                    <div class="col-6 form-floating mb-3">
                        <input id="Altura" name="Altura" class="form-control" aria-required="true" placeholder="1.7" />
                        <label class="mx-2" for="Altura">Altura (m)</label>
                    </div>
                    <div class="col-6 form-floating mb-3">
                        <select name="Genero" id="Genero" class="form-select">
                            <option value="" disabled selected>Selecciona tu género</option>
                            <option value="1">Masculino</option>
                            <option value="2">Femenino</option>
                        </select>
                        <label class="mx-2" for="Genero">Género</label>
                    </div>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-custom1">Registrarse</button>
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
