@{
    ViewData["Title"] = "Index";
}

<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createModalLabel">Crear Nuevo Evento</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createEventoForm">
                    <input id="eventoID" value="0" hidden>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre del evento</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <button type="submit" class="ms-auto d-block btn btn-custom1">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Encabezado -->
<div class="d-flex align-items-center encabezado">
    <h2 class="me-auto">Eventos</h2>

    <button type="button" class="btn btn-custom1 btn-create" onclick="AbrirModal()">
        <svg width="13" height="13" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M28.9415 18.8665H18.9839V28.8241H10.6058V18.8665H0.648158V10.557H10.6058V0.599367H18.9839V10.557H28.9415V18.8665Z"
                fill="white" />
        </svg>
    </button>
</div>

<!-- Tabla -->
<table class="table table-striped table-custom">
    <thead>
        <tr>
            <th>Nombre de Evento</th>
                        <th colspan="2" class="col-1 text-center">Acciones</th>

        </tr>
    </thead>
    <tbody id="tbody-eventos">
    </tbody>
</table>

@section Scripts {
    <script src="~/js/eventos.js"></script>
}